.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-link:hover {
    text-decoration: underline;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* Estilo para el gradiente a pantalla completa */
.hero-fullscreen {
    width: 100vw; /* 100% del viewport width */
    margin-left: calc(-50vw + 50%); /* Truco para centrar sin scroll horizontal */
    height: 100vh; /* 100% del viewport height */
    background: linear-gradient(135deg, #5B3E96, #6e8efb, #DAA7DC);
    /*background: linear-gradient(135deg, #5B3E96, #A377D1);
    #a777e3,*/

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
}

.hero-content {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Asegúrate que el body no tenga márgenes */
body {
    margin: 0;
    overflow-x: hidden; /* Evita scroll horizontal */
}